rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    function isSuperAdmin() {
      return isSignedIn() && (
        request.auth.token.email == 'ebulupaulboyld@gmail.com' ||
        (exists(/databases/$(database)/documents/users/$(request.auth.uid)) && getUserData().role == 'superadmin')
      );
    }

    function isAdmin() {
      return isSignedIn() && (
        request.auth.token.email == 'ebulupaulboyld@gmail.com' ||
        (exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
          (getUserData().role == 'admin' || getUserData().role == 'superadmin'))
      );
    }

    // User profiles & roles collection
    match /users/{userId} {
      allow create, update, read: if isSignedIn() && (request.auth.uid == userId || isSuperAdmin());
      allow list, delete: if isSuperAdmin();
    }

    // Flight bookings collection
    match /bookings/{bookingId} {
      // Anyone can search/read individual tickets or search queries
      allow read: if true;
      // Only Super Admin can create, update, or delete flight booking tickets
      allow create, update, delete: if isSuperAdmin();
    }
  }
}
